<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="http://bit.ly/3WJ5ilK">
	<style>
		
	</style>
</head>
<body>
	<h1>HTML 속성 조작하기</h1>
	
	<!--
		*** 타임리프의 표현식들은 th:속성과 같이 사용한다.
		*** HTML의 대부분의 속성은 th:속성 으로 제공한다.
	-->
	<div>${text}</div>
	<div th:text="${txt}"></div>
	
	<div>
		<div><input type="text" name="num" value="${num}"></div> <!-- 인식못해서 ${num}으로 바인딩됨 -->
		<div><input type="text" name="num" th:value="${num}" th:size="${num}"></div>	
		<div><input type="text" name="num" th:value="${txt}" th:size="${num}"></div>
	</div>
	
	<div style="background-color: rgb(128, 128, 192);">Box</div>
	<div th:style="'background-color: ' + ${color} + ';'">Box</div>
	<div th:style="|background-color:${color};|">Box</div> <!-- 파이프 처리 -->
	<hr>
	
	<div><input type="checkbox" id="cb1" th:checked="${fleg}">체크함</div>
	<div><input type="checkbox" th:checked="${age} >= 18"> 성인</div>
	
	<div>
		<select>
			<option value="red">red</option>
			<option value="yellow">yellow</option>
			<option value="cornflowerblue" th:selected="${color == 'cornflowerbule'}">cornflowerblue</option>
			<option value="orange">orange</option>
		</select>
	</div>
	
</body>
</html>
